.Adminb{
    padding: 2% 10%;
    color: #000;
    font-weight: 500;
    background-color: white;
    border-radius: 20px;
}
.Adminb2{
    padding: 2% 18%;
    color: #000;
    font-weight: 500;
    background-color: white;
    border-radius: 20px;
    
}
.Adminb3{
    padding: 2% 15%;
    color: #000;
    font-weight: 500;
    background-color: white;
    border-radius: 20px;
}
.Adminbd{
    padding: 6% 20%;
    color: #000;
    font-weight: 500;
    background-color: white;
    border-radius: 20px;
}
.activeC{
    width: 15px;
    height: 15px;
    
}
.act_user{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;

}

.back{
    height: 619px;
    background-color: #CFA9AB;
   }
.btnm1{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* background-color: aqua; */
    gap: 3%;
  }
  .niifty{
    height: 16rem;
  }
  .items{
    margin-top: 1%;
    height: 80px;
  }
  .conts{
    border: 2px solid #000000b7;
    width: 80%;
    height: 90%;
    border-radius: 15px;
    background-color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .conts p{
    font-size: 13px;
    font-weight: 500;
  }
  .conts p span , .tag h5 span{
    color: rgb(27, 214, 27);
  }
  .conts h4{
    font-size: 20px !important;
  }
  .gain_img{
    width: 350px;
    height: 200px;
  }
  .gain_img1{
    width: 720px;
    height: 200px;
  }

  .F_gain{
    font-weight: 500;
  }
  @media only screen and (max-width: 600px) {
   .chart_div{
    background-color: #CFA9AB;
    height: 700px;
   }
   .items{
    margin-top: 5%;
    height: 190px;
    

  }
  .conts{
    border: 2px solid #000000b7;
    width: 105%;
    height: 85%;
    border-radius: 15px;
    background-color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .gain_img{
    width: 300px;
    height: 200px;
  }
  .gain_img1{
    width: 100%;
    height: 120px;
  }
  .back{
    min-height: 60rem;
    background-color: #CFA9AB;
   }
   .bulk{
    margin-top: 3%;
   }

  }