/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.Admin1{
    color: #000;
    font-weight: 500;
    background-color: white;
    border-radius: 20px;
    text-align: left;
    width: 70%;
    
}
.Adminb2{
    color: #000;
    font-weight: 500;
    background-color: white;
    border-radius: 20px;
    width: 70%;
    text-align: left;
    
}
.Adminb3{
    color: #000;
    font-weight: 500;
    background-color: white;
    border-radius: 20px;
    width: 75%;
    text-align: left;
}
.Adminbdrop{
  color: #000;
    font-weight: 500;
    background-color: white;
    border-radius: 20px;
    text-align: left;
    
}
.Adminbd{
    color: #000;
    font-weight: 500;
    background-color: white;
    border-radius: 20px;
}
.activeC{
    width: 15px;
    height: 15px;
    
}
.act_user{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}
.btnm1{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* background-color: aqua; */
    gap: 5px;
    overflow-y: auto;
  }
  .niifty{
    height: 12rem;
  }
  .items{
    margin-top: 1%;
    height: 80px;
  }
  .conts{
    border: 2px solid #000000b7;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    background-color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .conts p{
    font-size: 13px;
    font-weight: 500;
  }
  .conts p span , .tag h5 span{
    color: rgb(27, 214, 27);
  }
  .conts h4{
    font-size: 20px !important;
  }
  .gain_img{
    width: 300px;
    height: 180px;
  }
  .gain_img1{
    width: 630px;
    height: 185px;
  }

  .F_gain{
    font-weight: 500;
  }
  .chart_div{
    background-color: #CFA9AB;
    height: 510px;
   }
   .danger{
    background-color: #CFA9AB;
    min-height: 100vh;
   }
   .custom-div0{
    height: 516px; /* specify your desired height */
    width: 300px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 3px solid #00000096;
  }

  /* ----------------TABLE CSS-------------------- */


  .table_header{
    height: 40px;
    border-bottom: 1px solid #00000054;
    background-color: rgba(179, 133, 50, 0.418);
    text-align: center;
    font-size: 10px;
    font-weight: 600;
  }
  .comp_header{
    width: 7rem;
  }
  .table_row{
    border-bottom: 1px solid #00000054;
    text-align: center;
  }
  .f_size{
    font-size: 14px;
    color: red;
  }
  .f_size0{
    font-size: 14px;
    color: green;
  }
  .table_button{
    width: 8rem;
  }
  .table_price{
    width: 8rem;
  }
  .table_graph{
    width: 7rem;
  }
  .down_size{
    font-size: 18px;
    font-weight: 500;
    opacity: .8;
  
  }
  .clr{
    background-color: #88888833;
  }
  .tabe_d{
    color: blue;
    padding: 0 2%;
    
  }


  @media only screen and (max-width: 600px) {
   .chart_div{
    background-color: #CFA9AB;
    height: 700px;
   }
   .custom-div0{
    display: none;
   }
   .items{
    margin-top: 5%;
    height: 190px;
    

  }
  .conts{
    border: 2px solid #000000b7;
    width: 105%;
    height: 85%;
    border-radius: 15px;
    background-color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .gain_img{
    width: 300px;
    height: 200px;
  }
  .gain_img1{
    width: 100%;
    height: 150px;
  }
  .back{
    min-height: 58rem;
    background-color: #CFA9AB;
   }
   .bulk{
    margin-top: 3%;
   }
   .table_m{
    width: 600px;
    background-color: #000;
   }

  }