
.bttn1{
    margin-right: 5%;
    border-radius: 20px;
    margin-left: 10%;

}
.signal{
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bttn{
    border-radius: 20px;
    /* margin-right: 5%; */
}
.reset{
    height: 70px;
    margin-top: 2%;
}
.symbol_form{
    border-radius: 20px;
    padding: 0 0%;
    width: 100%;
}
.col-auto{
    /* background-color: aqua; */
    width: 22%;
}
.submit{
    border-radius: 20px;
    margin-left: 20%;
}
.col-auto label{
    font-weight: 600;
    padding: 2% 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media only screen and (max-width: 600px) {
    .btn_both{
        width: 75%;
    }
    .bttn1{
        border-radius: 20px;
        padding: 3% 3%;
    }
    .signal{
        font-size: 18px;
    }
    .cover{
        height: 50rem;
    }
    .col-auto{
        width: 80%;
    }
    .col-auto1{
        margin-left: 10%;
    }
    .form_reset{
        border:  1px solid #00000079;
        border-radius: 10px;
        height: 110%;     
    }
    .submit{
        padding: 2% 15%;

    }
  }